.banner {
  width: 100%;
  height: 12rem;
  background-color: #99d4998b;
  background-image: radial-gradient(#1ba419 10%, transparent 10%),
    radial-gradient(#1ba419 10%, transparent 10%);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
  margin-top: 1rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  p{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 4rem;
    text-shadow: 1px 2px 2px rgb(35, 106, 54);
  }

  span{
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    text-shadow: 2px 2px 2px rgb(35, 106, 54);
  }
}

.headlines {
  display: flex;
  font-size: 1.75rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  margin-top: 2rem;
  color: var(--black);
  justify-content: space-between;
  padding: .5rem;

  span{
    font-size: .9rem;
    align-self: flex-end;
    color: green;
    font-weight: 400;
    cursor: pointer;
  }
}
.list-container {
  position: relative; 
  width: 100%;
  overflow: hidden; 
  margin-top: .25rem;
}

.list {
  display: flex;
  column-gap: 1rem;
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.list-container:hover{
  .left-key,.right-key{
    display: block;
  }
}

.list::-webkit-scrollbar {
  display: none; 
}

.left-key,
.right-key {
  display: none;
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
  font-size: 3rem;
  color: rgba(46, 44, 44, 0.6);
  cursor: pointer;
  z-index: 10;
}

.left-key {
  left: 0;
}

.right-key {
  right: 0; 
}

.promo
{
  width: 100%;
  height: 4rem;
  background-color: rgba(255, 0, 0, 0.295);
  border-radius: 1rem;
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5rem;
  position: relative;

  p{
    color: white;
    font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.75rem;
  z-index: 1;
  }
}

.product-container{
  width: 100%;
  display: flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}
  

  @media only screen and (min-width: 320px) and (max-width: 480px) {
.banner{
  padding: 1rem;
  p{
    font-size: 1.5rem;
  }
  span{
    font-size: .9rem;
  }
}

.promo{
  margin-top: 1rem;
  p{
    font-size: .9rem;
  }
}

    .headlines {
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }
  
    .list {
      padding: .5rem;
      column-gap: .5rem;
      overflow-x: scroll; 
    }

    .list-container:hover{
      .left-key,.right-key {
        display: none;
      }
    }
  }

  .product-container{
    row-gap: .25rem;
    column-gap: .5rem;
  }
  

  @media only screen and (min-width: 481px) and (max-width: 768px) {

    .banner{
      padding: 1rem;
      p{
        font-size: 1.8rem;
      }
      span{
        font-size: 1rem;
      }
    }

    .promo{
      margin-top: 1rem;
      p{
        font-size: 1rem;
      }
    }

    .headlines {
      font-size: 1.5rem;
      margin-top: 1.5rem;
    }

    .list{
        margin-top: .5rem;
    }

    .list-container:hover{
      .left-key,.right-key {
        display: none;
      }
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 1024px){
    .banner{
      padding: 1rem;
      p{
        font-size: 2.5rem;
      }
      span{
        font-size: 1.25rem;
      }
    }

    .promo{
      margin-top: 1rem;
      p{
        font-size: 1.25rem;
      }
    }

  }

  @media only screen and (min-width: 1025px) and (max-width: 1200px){
    .banner{
      padding: 1rem;
      p{
        font-size: 3rem;
      }
      span{
        font-size: 1.5rem;
      }
    }

    .promo{
      margin-top: 1rem;
      p{
        font-size: 1.25rem;
      }
    }

  }