.main
{
    width: 90%;
    min-height: 100vh;
    scroll-behavior: smooth ;
}



@media only screen and (min-width: 320px) and (max-width: 480px){
    .main
{
    width: 95vw;
    min-height: 100vh;
}
}

@media only screen and (min-width: 481px) and (max-width: 768px){
    .main
    {
        width: 95vw;
        min-height: 100vh;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px)
{
    .main
    {
        width: 95vw;
        min-height: 100vh;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px){
    .main
    {
        width: 95vw;
        min-height: 100vh;
    }
}

@media only screen and (min-width: 1201px) and (max-width: 1250px) {
    .main
    {
        width: 95vw;
        min-height: 100vh;
    }
}

::-webkit-scrollbar {
    width: 6px;
    background-color: #f1f1f1; 
  }
  

  ::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 10px; 
  }